@media(max-width: 1417px) {
    .ipad-product {
        width: 32%;
    }

    .mac-item {
        width: 32%;
    }

    .container {
        width: 90%;
    }

    .footer-title,
    .foot-a,
    .footer-nav-title {
        font-size: 12px;
        font-weight: 400;
    }

    .footer-soc-title {
        font-size: 12px;
        font-weight: 400;
        margin-top: 20px;
    }
}

@media(max-width: 1200px) {
    .footer-left {
        width: 65%;
    }

    .contact-wrapper,
    .footer-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media(max-width: 1097px) {

    .contact-bg {
        background-size: contain;
    }

    .contact-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .map-wrapper {
        margin-bottom: 30px;
    }

    .section-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 20px;
    }

    .section-title p {
        margin-bottom: 20px;
        color: #000;
    }

    .section-title h2 {
        color: #000;
    }

    .item {
        width: 31%;
    }

    .contact-title {
        margin-top: 10px;
    }

}

@media(max-width: 900px) {
    .footer-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-left {
        width: 100%;
    }

    .soc-networks {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer-circle {
        width: 30px;
        height: 30px;
    }

    .foot-soc {
        font-size: 18px;
    }

    .footer-title {
        max-width: 200px;
        width: 100%;
    }

    .ipad-product {
        width: 47%;
    }

    .ipad-product:nth-child(4) {
        margin-bottom: 30px;
    }

    .item {
        max-width: 360px;
        height: 375px;
        width: 47%;
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(9),
    .item:nth-child(10) {
        margin-bottom: 20px;
    }

    .item:nth-child(7),
    .item:nth-child(8) {
        margin-top: 0;
    }

    .mac-item {
        width: 47%;
    }

    .mac-item:nth-child(1),
    .mac-item:nth-child(2),
    .mac-item:nth-child(3) {
        margin-bottom: 30px;
    }

    .mac-item:nth-child(4),
    .mac-item:nth-child(5),
    .mac-item:nth-child(6) {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .mac-none {
        display: none;
    }

    .burger-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav-ul.nav-active {

        height: 100vh;
        position: absolute;
        top: 45px;
        left: -44px;
        background-color: #1c1e21;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 80px;
    }

    .header-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        background: #1c1e21;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;


    }

    .top-ul {
        position: absolute;
        top: 12px;
        right: 0px;
    }

    .nav-ul {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 300px;

    }

    .contact-bg {
        height: 292px;
    }

    .nav-ul li {
        margin-bottom: 15px;
    }
}


@media(max-width: 594px) {
    .contact-desc {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact-mob {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .contact-mob:nth-child(1),
    .contact-mob:nth-child(2) {
        margin-bottom: 15px;
    }

    .cont-icon {
        margin-right: 20px;
    }

    .iphone-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ipad-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .item,
    .ipad-product,
    .mac-item {
        width: 100%;
    }

    .contact-bg {
        height: 190px;
    }

    .item:nth-child(3),
    .item:nth-child(4),
    .item:nth-child(11) {
        margin-bottom: 20px;
    }

    .item:nth-child(5),
    .item:nth-child(6) {
        margin-top: 0;
    }

    .ipad-product:nth-child(5) {
        margin-bottom: 30px;
    }

    .mac-item:nth-child(7),
    .mac-item:nth-child(8) {
        margin-bottom: 30px;
    }

    .mac-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .hidden {
        display: none;
    }

    .fa-angles-up {
        right: 15px;
    }

    .section-title h2 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media(max-width: 370px) {
    .contact-bg {
        height: 117px;
    }
}